<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
JsNative 社区为国内最大最具影响力的 JsNative 开源技术社区，致力于 Js和Native 混合开发的研究。

JsNative 社区由一批热爱 JsNative 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 JsNative 感兴趣的朋友。

社区目前由 [@xunice](http://www.xunice.net) 在维护，有问题请联系：[https://github.com/xunice](https://github.com/xunice)

请关注我们的官方微博：http://weibo.com/xunice

### 移动客户端

客户端由 [@xunice](https://www.xunice.net) 开发维护。

源码地址： https://github.com/soliury/noder-react-native 。

立即体验 JsNative 客户端，直接扫描页面右侧二维码。

另，安卓用户同时可选择：https://github.com/TakWolf/CNode-Material-Design ，这是 Java 原生开发的安卓客户端。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
