<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：JsNative 社区和 Node Club 是什么关系？</p>

        <p>Q：JsNative 是一个用 Node Club 和 MongoDB Q：JsNative 是基于 Node Club 的 Q：JsNative 中文技术社区。</p>
      </div>
    </div>
  </div>
</div>
